.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid red;
}
.headerContainer > .fotoContainer{
    width: 400px;
    height: 400px;
    background-color: #eee;
    margin-left: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.headerContainer > .title{
    font-size: 100px;
    margin-top: 300px;
    margin-left: 50px;
}
