.footer {
    text-align: center;
    width:100%;
    background-color: rgb(17, 17, 17);
    padding: 50px;
    position: relative;
    bottom: 0;
}
.footer a{
    color: #FFD400;
}
.footer p span{
    font-style: italic;
    color: #FF9F04;
}