@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    min-height: 100vh;
    color: #e1e1e1;
    background-color: #1e1e1e;
    font-family: 'Rubik', sans-serif;
}
