.headerContainer{
    display: flex;
    height: 300px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../../resources/logos/logo.png');
    background-size: contain;
    background-position: 20%;
    /* border: 1px solid red; */
}
.headerContainer > .title{
    font-size: 100px;
}
